* {
    box-sizing: border-box;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

    --color-theme-sidebar-bg: #0284c7;
    --color-theme-sidebar-text: white;

    --color-theme-page: #f8fafc;
    --color-theme-page-bg: #e2e8f0;
    --color-theme-page-shadow: #a1a1aa;

    --color-theme-page-headings: black;
    --color-theme-page-text: #6b7280;

    --color-theme-user: #059669;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    color: inherit;
}

button {
    appearance: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h6 {
    font-size: 1rem;
}

h5 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.7rem;
}

h1 {
    font-size: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 20rem 1fr;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
}

.sidebar {
    background: var(--color-theme-sidebar-bg);
    color: var(--color-theme-sidebar-text);

    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.sidebar .icon {
    filter: invert(1);
    justify-self: end;

}

.sidebar .heading .icon {
    width: 3rem;
    height: 3rem;
}
.sidebar ul {
    display: grid;
    gap: 1rem;
}

.sidebar .heading, .sidebar li {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;

    align-items: center;
}

.page {
    background: var(--color-theme-page-bg);
    color: var(--color-theme-page-text);

    display: grid;
    grid-template-rows: 12rem 1fr;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
    color: var(--color-theme-page-headings);
}

.avatar {
    display: grid;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-theme-user);
}

.header {
    background: var(--color-theme-page);
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;

    box-shadow: 0rem 0.05rem 0.2rem var(--color-theme-page-shadow);
}

.upper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

    align-items: center;
}

.search {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.search input {
    appearance: none;
    border: none;
    border-radius: 1rem;
    background: var(--color-theme-page-bg);

    height: 2rem;
    padding: 0.5rem 1rem;
    flex: 1;

    transition: ;
}

.search input:focus {
    outline: none;
    border: 2px solid var(--color-theme-user);
}

.notifications {
    justify-self: end;

    display: grid;
    grid-template-columns: 2rem 3rem 1fr;

    align-items: center;
    gap: 1rem;
}

.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower .welcome {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    gap: 2rem;
}

.welcome .avatar {
    height: 4rem;
    width: 4rem;
}

.lower .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.lower .links li button {
    background: var(--color-theme-sidebar-bg);
    color: var(--color-theme-sidebar-text);
    border: none;

    text-align: center;
    width: 7rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.lower .links li button:hover {
    background: var(--color-theme-sidebar-text);
    color: var(--color-theme-sidebar-bg);
    border: 1px solid var(--color-theme-sidebar-bg);
}

.lower .links li h4{
    color: inherit;
}

.dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0.8rem;

    padding: 1rem;
}

.dashboard h3 {
    margin-bottom: 0.5rem;
}

.projects {
    grid-row: 1 / -1;
}

.projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));

    gap: 1rem;
}

.card {
    background: var(--color-theme-page);

    border-radius: 0.5rem;
    padding: 1rem;

    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--color-theme-page-shadow);
}

.card.project {
    border-left: 0.5rem solid var(--color-theme-user);
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project .options {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.announcements ul {
    background: var(--color-theme-page);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    font-size: 0.8rem;
}

.announcements li:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-theme-page-shadow);
}

.trending ul {
    display: grid;
    grid-auto-rows: 3rem;
    gap: 1rem;
}

.trending li {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 0.5rem;
    align-items: center;
}